.main-nav {
  min-height: 70px;
  width: 100%;
}

.nav-logo-text {
  color: #00285f;
}

.main-menu {
  display: flex;
  font-size: 18px;
  justify-content: space-evenly;
  width: 300px;
}

.nav-home {
  font-weight: 700;
}
